<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
 
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand">REGISTRO DE CLIENTES</a>
        </nav>
    
    <div class="container">
            <div class="row mt-5">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <form action="/add" method="post">
                                <div class="form-group">
                                    <input type="text" name="num_clie" placeholder="numerocliente" class="form-control">          
                                    <input type="text" name="idempresa" placeholder="idempresa" class="form-control">          
                        
                                </div> 
    
                            <div class="form-group">
                                    <input type="text" name="idsuc" placeholder="id" class="form-control">          
                        
                                </div> 
    
      <div class="form-group">
                                        <input type="text" name="identidad" placeholder="identidad" class="form-control">          
                                    </div> <div class="form-group">
                                        <input type="text" name="rtn" placeholder="rtn" class="form-control">          
                                        <input type="text" name="fecha_nac" placeholder="nacimiento" class="form-control">          
                                        <input type="text" name="nombre" placeholder="nombre" class="form-control">          
                                        <input type="text" name="telefono" placeholder="telefono" class="form-control">          
                                        <input type="text" name="direccion" placeholder="direccion" class="form-control">          
                                        <input type="text" name="correo" placeholder="correo" class="form-control">          
                                        <input type="text" name="fecha_creacion" placeholder="creacion" class="form-control">          
                                        <input type="text" name="estado" placeholder="estado" class="form-control">          
                            
                                    </div> 
                                   
                                    <button type="submit" class="btn btn-primary">
                                        Agregar
                                    </button>
                                </form>
                            </div>
        

                </div>
                    </div>
        
        </div>
        
    </div>
        
        <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-7">
                            <table class="table table-borbered table-hover">
                                <thead>
                                    <tr>
                                        <th>CODIGO</th>
                                        <th>PROVEEDOR</th>
                                        <th>DIRECCION</th>
                                        <th>TELEFONO</th>
                                        <th>RESPONSABLES</th>
                                        <th>FECHA CREACION</th>
                                        <th>OBSERVACIONES</th>
                                        <th>ESTADO</th>                           
                                    </tr>
                                </thead>
                            </table>
            
            </div>       
                    </div>
                </div>
    
            </body>
            </html>
